<h1>
    Nesta área mostamos o nível do nosso reservatorio de água</h1>
<p>Aqui você pode controlar o fluxo de água e observar o reservatorio enquanto isso!!</p>

<div class="content">



    <div class="reservatorio">

        <div id="container">
            <div id="glass" [ngClass]="{'liquid': isfull,'emptyTank':isEmpty}">
                <div id="water">


                </div>
            </div>
        </div>
    </div>

</div>

<div class="comandos">
    <button (click)="encher()">Abastecer reservatorio</button>
    <button (click)="esvaziar()">Esvaziar reservatorio</button>

</div>

<div class="showNivel" ng-if="totalCopos > 0">
    <label for="">
        <h2>Dados Tecnicos</h2>
        <p ng-model="litros" ng-model-options="{debounce:3000}"> Litros de água: {{litros}} L</p>
        <br/><p ng-model="nivelBaril">Nivel da água em centimetros: {{nivelBaril}}</p>
        <p ng-model="vazao">Vazão da água: {{vazao}} </p>
    </label>

</div>